:root {
    --dark-color: #223f1e;
    --light-color: #17af8e;
    --pink: #f128d7;
}
* {
    box-sizing: content-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
header {
    background-color: var(--dark-color);
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    
}

header h1 {
    display: flex;
    flex: 2;
    color: var(--light-color);
    align-self: flex-start;
    flex-wrap: wrap;
}
nav {
    display: flex;
    justify-content: space-around;
}
.links a {
    color: var(--light-color);
    flex-direction: row;
    text-decoration: none;
    align-self: stretch;
}
.links a:hover {
    color: var(--pink);
}
main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
.Projects {
    background-color: var(--dark-color);
    color: var(--light-color);
    display: flex;
}
.Projects h2 {
    text-align: center;
    border-right-width: 5px;
    border-right-color: var(--light-color);
}
.portfolio {
    display: flex;
    flex-wrap: wrap;
}
.project__img {
    display: flex;
    flex: 1 0;

}
#bigproject {
    flex: 2 0;
}
#AboutMe {
    background-color: var(--dark-color);
    color: var(--light-color);
    display: flex;
    flex-wrap: wrap;
}
#AboutMe h3 {
    text-align: center;
    border-right-width: 5px;
    border-right-color: var(--light-color);
}
#AboutMe p {
    display: flex;
    
}
#Contact {
    background-color: var(--dark-color);
    color: var(--light-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#Contact h3 {
    text-align: center;
    border-right-width: 5px;
    border-right-color: var(--light-color);
}
#Contact a {
    display: flex;
    text-decoration: none;

}
#Contact a:hover {
    color: var(--pink);
}
footer {
    padding: 20px;
    text-align: center;
    color: var(--dark-color);
}