:root { /*custom variables/colors */
    --dark-color: #223f1e;
    --light-color: #17af8e;
    --pink: #f128d7;
}
* { /*everything follows this */
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
/*header stylings */
header {
    background-color: var(--dark-color);
    padding: 20px 10px;
    border-style: solid;
    border-color: var(--light-color);
    border-width: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}

header h1 {
    display: flex;
    color: var(--light-color);
    align-self: flex-start;
    flex-wrap: wrap;
}
/*nav stylings */
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav_link {
    padding: 0;
    display: flex;
}

.nav_item { /*remove bullet points*/
    list-style: none;
}
.nav_links {
    color: var(--light-color);
    text-decoration: none;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 3px;
}
.nav_links:hover { /*change color on hover*/
    color: var(--pink);
}
main { /*main content styling*/
    line-height: 1.6em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    
}
/*projects/work stylings... each one in its own flexbox*/
.Projects {
    background-color: var(--dark-color);
    color: var(--light-color);
    display: flex;
}
.Projects h2 {
    text-align: center;
    align-self: center;
    border-right-width: 5px;
    border-right-color: var(--light-color);
    margin: 0;
    padding: 5px;
}
.portfolio {
    display: flex;
    flex-wrap: wrap;
}
.project__img {
    display: block;
    max-width: 100%;

}
.project_imgbig {
    display: flex;
    flex-basis: auto;
}
/*aboutme stylings, each section throughout is a flex box*/
#AboutMe {
    background-color: var(--dark-color);
    color: var(--light-color);
    display: flex;
    flex-wrap: wrap;
}
#AboutMe h3 {
    text-align: center;
    border-right-width: 5px;
    border-right-color: var(--light-color);
    padding: 5px;
    margin: 0;
    align-self: center;
}
.AboutMe p {
    display: flex; 
    align-self: center; 
}
#AboutMe img {
    width: 200px;
    height: 200px;
}
#Contact { /*contact info stylings...trying to match NAV links look*/
    background-color: var(--dark-color);
    color: var(--light-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#Contact h3 {
    text-align: center;
    border-right-width: 5px;
    border-right-color: var(--light-color);
}
#Contact a {
    display: flex;
    text-decoration: none;
    align-self: center;

}
#Contact a:hover {
    color: var(--pink);
}
footer { /*footer stylings*/
    padding: 20px;
    text-align: center;
    background-color: var(--dark-color);
    color: var(--light-color);
}
@media screen and (max-width: 780px) {
    main {

    }
}