:root {
    --dark-color: #223f1e;
    --light-color: #17af8e;
    --pink: #f128d7;
}
* {
    box-sizing: content-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
header {
    background-color: var(--dark-color);
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    
}

header h1 {
    display: flex;
    flex: 2;
    color: var(--light-color);
    align-self: flex-start;
    flex-wrap: wrap;
}
nav {
    display: flex;
    justify-content: space-around;
}
.links a {
    color: var(--light-color);
    flex-direction: row;
    text-decoration: none;
    align-self: stretch;
}
.links a:hover {
    color: var(--pink);
}
main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
.Projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
#project1 img {
    flex: 60%;
}
#project2 {
    flex: 40%;
}
#project3 {
    flex: 40%;
}



footer {
    display: flex;
    padding: 20px;
    text-align: center;
    color: var(--dark-color);
}